{% extends 'admin/base.html.twig' %}

{% block title %}Administration des recettes{% endblock %}

{% block body %}
<div class="container-fluid">
{{form_start(form)}}
    <div class="row no gutters align-items-center text-center">
        <div class="col-md-2">
            {{form_row(form.startDate)}}
        </div>
        <div class="col-md-2">
            {{form_row(form.endDate)}}
        </div>
        <div class="col-md-1"  style=" vertical-align:center">
            <br>
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>
{{form_end(form)}}
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5" style="background:#32a86d; border-radius:7px; color:white;">   
            <h4>Gestion des collectes</h4>                      
        </div>
        <div class="col-md-5"></div>
        <div class="col">
            <a href="{{ path('admin_incomes_create') }}" class="btn btn-primary">Ajouter une collecte</a>
        </div>
    </div>    
    <div style="height:15px;"></div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date reçu</th>
                <th>Libellé</th>
                <th>Catégorie</th>
                <th>Contribuable</th>
                <th>Utilisateur</th>
                <th>Montant(&euro;)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for inc in incomes %}
            <tr>
                <td>{{inc.id}}</td>
                <td>{{inc.dateIncome | date("d/m/Y")}}</td>
                <td>{{inc.description}}</td>
                <td>{{inc.categoryIncome.name}}</td>
                <td>{{inc.donor.name}}</td>
                <td>{{inc.editor.lastname}} {{inc.editor.firstname}}</td>
                <td>{{inc.amount}}</td>
                <td>
                    <a href="{{ path('admin_incomes_edit', {'id': inc.id}) }}" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i></a>
                    <a href="{{ path('admin_incomes_delete', {'id':inc.id}) }}" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
