
<header class="site-navbar js-sticky-header site-navbar-target" role="banner">

      <div class="container">
        <div class="row align-items-center position-relative">
          
            
            <div class="site-logo">
              <a href="index.html" class="text-black"><span class="text-primary">Maskeb</a>
            </div>
            
              <nav class="site-navigation text-center ml-auto" role="navigation">

                <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                  <li><a href="{{ path('homepage')}}" class="nav-link">Accueil</a></li>
                  <li><a href="{{ path('beneficiaries_index')}}" class="nav-link">Nos enfants</a></li>
                  <li><a href="https://www.paypal.com/donate?hosted_button_id=KRH2R34LP3H5G" class="nav-link">Faire un don</a></li>
                  <li><a href="{{ path('contacts_index') }}" class="nav-link">Nous contacter</a></li>
                  <!-- <li><a href="#blog-section" class="nav-link">Blog</a></li> -->
                  <li><a href="{{ path('account_registration') }}" class="nav-link">Inscription</a></li>
                  <li><a href="{{ path('account_login') }}" class="nav-link">Connexion</a></li>
                </ul>
              </nav>
          
            

          <div class="toggle-button d-inline-block d-lg-none"><a href="#" class="site-menu-toggle py-5 js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

        </div>
      </div>
      
    </header>