{% extends 'base.html.twig' %}

{% block title %} Bénéficiaire : {{ kid.firstname }}{% endblock %}

{% block body %}
<div class="container">
    <h2 class="text-center">Notre enfant : {{ kid.firstname }} {{kid.lastname}} </h2>
    <div class="card bg-light mb-3">
        <div class="card-header text-center ">
            {{ kid.firstname }} {{ kid.lastname }}, <strong>{{ date('now').diff((date( kid.dateBith))).format('%y') }} ans</strong> <br>
            étudie en <strong> {{ kid.class }}ème</strong> primaire
        </div>
        <div class="text-center">
            <img src="{{kid.photo}}" alt="Image de l'enfant"
            style="height:300px; width:270px;">
        </div>
    </div>
    <div class="card-body text-center">
        <h4 class="card-title text-center">
            Un enfant calme et courageux!
        </h4>
        <p class="card-text">
            {{ kid.description }}
        </p>
        <hr>
        <div class="mb-3">
            {{kid.history}}
        </div>
        <hr>
        <a href="{{ path('beneficiaries_index') }}" class="btn btn-primary">Retour</a>
        <hr>
    </div>
</div>
{% endblock %}