{% extends 'admin/base.html.twig' %}

{% block title %}Maskeb - Dashboard{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
                
        <div class="col">
            <div class="panel panel-default">
                <div class="panel-heading " style="background:#578ec9; color:white;">
                    <h2 class="panel-title">Synthèse rapide</h2>
                </div>
                <div class="panel-body">
                    <div class="col-md-3">
                    <div class="well dash-box">
                        <h3><span class="glyphicon glyphicon-education"></span> {{stats.kids}}</h3>
                        <h4>Enfants inscrits</h4>
                    </div>
                    </div>

                    <div class="col-md-3">
                    <div class="well dash-box">
                        <h3><span class="glyphicon glyphicon-user"></span> {{stats.donors}}</h3>
                        <h4>Donateurs</h4>
                    </div>
                    </div>

                    <div class="col-md-3">
                    <div class="well  dash-box">
                        <h3><span class="glyphicon glyphicon-inbox"></span> {{stats.incomes | number_format(2, ","," ")}} &euro;</h3>
                        <h4>Collectes</h4>
                    </div>
                    </div>

                    <div class="col-md-3">
                    <div class="well  dash-box">
                        <h3><span class="glyphicon glyphicon-share"></span> {{stats.expenses | number_format(2, ","," ")}} &euro;</h3>
                        <h4>Dépenses</h4>
                    </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="" style="background:#15ad8a; color:white; border-radius:7px;">
                <h4 class="alert-heading my-3" ><i class="glyphicon glyphicon-upload"></i> Grands donateurs</h4>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Donateur</th>
                            <th>Montant donations (&euro;)</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for donor in greatestDonors %}
                        <tr>
                            <td>{{donor.name}}</td>
                            <td class="text-center">
                                <span class="badge badge-dark">
                                {{donor.donation | number_format(2, ","," ")}}
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3">
            <div class="" style="background:#f0a951; color:white; border-radius:7px;">
                <h4 class="alert-heading my-3"><i class="glyphicon glyphicon-download"></i> Petits donateurs</h4>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Donateur</th>
                            <th>Montant donations (&euro;)</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for donor in leastDonors %}
                        <tr>
                            <td>{{donor.name}}</td>
                            <td class="text-center">
                                <span class="badge badge-dark">
                                {{donor.donation | number_format(2, ","," ")}}
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    
        <div class="col-md-3">
            <div class="" style="background:#e35a24; color:white; border-radius:7px;">
                <h4 class="alert-heading my-3"><i class="glyphicon glyphicon-upload"></i> Grandes rubriques dépenses</h4>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Rubrique dépense</th>
                            <th>Montant dépenses (&euro;)</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for cat in greatestExpCats %}
                        <tr>
                            <td>{{cat.name}}</td>
                            <td class="text-center">
                                <span class="badge badge-dark">
                                {{cat.expend | number_format(2, ","," ")}}
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3">
            <div class="" style="background:#99948b; color:white; border-radius:7px;">
                <h4 class="alert-heading my-3"><i class="glyphicon glyphicon-download"></i> Petites rubriques dépenses</h4>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Rubrique dépense</th>
                            <th>Montant dépenses (&euro;)</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for cat in leastExpCats %}
                        <tr>
                            <td>{{cat.name}}</td>
                            <td class="text-center">
                                <span class="badge badge-dark">
                                {{cat.expend | number_format(2, ","," ")}}
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
