{% extends 'admin/base.html.twig' %}

{% block title %}Administration des bénéficiares{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5" style="background:#578ec9; border-radius:7px; color:white;">   
            <h4>Gestion des enfants bénéficiares</h4>
        </div>
        <div class="col-md-5"></div>
        <div class="col">            
            <a href="{{ path('admin_beneficiaries_create') }}" class="btn btn-primary">Inscrire un enfant</a>
        </div>
    </div>
    <div style="height:15px;"></div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Né(e) lé</th>
                <th>Né(e) à</th>
                <th>Nom père</th>
                <th>Prénom père</th>
                <th>Nom mère</th>
                <th>Prénom mère</th>
                <th>Adresse</th>
                <th>Commune</th>
                <th>Classe actuelle</th>
                <th>Date accueil</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for kid in paginator.data %}
            <tr>
                <td>{{kid.id}}</td>
                <td>{{kid.lastname}}</td>
                <td>{{kid.firstname}}</td>
                <td>{{kid.dateBith | date("d/m/Y")}}</td>
                <td>{{kid.placeOfBirth}}</td>
                <td>{{kid.lastnameFather}}</td>
                <td>{{kid.firstnameFather}}</td>
                <td>{{kid.lastnameMother}}</td>
                <td>{{kid.firstnameMother}}</td>
                <td>{{kid.adresseZone}}</td>
                <td>{{kid.adresseCommune}}</td>
                <td>{{kid.class}}</td>
                <td>{{kid.datejoined | date("d/m/Y")}}</td>
                <td>
                    <a href="{{ path('admin_beneficiaries_edit', {'id': kid.id}) }}" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i></a>
                    <a href="{{ path('admin_beneficiaries_delete', {'id': kid.id}) }}" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
     <div class="text-center">
        {% set page = paginator.page %} {#Twig va transformer paginator.page en paginator.getPage()#}
        {% set pages = paginator.pages %}
        <ul class="pagination">
            <li class="{% if page == 1 %} disabled {% endif %}">
                <a href="{{ path('admin_categoryexpense_index', {'page': page - 1})}}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
            </li>
            {% for i in 1.. pages %}
            <li class=" {% if page == i %} active {% endif %}">
                <a href="{{ path('admin_categoryexpense_index', {'page':i})}}">{{i}} <span  class="sr-only">(current)</span></a>
            </li>
            {% endfor %}            
            <li class="{% if page == pages %} disabled {% endif %}">
                <a href="{{ path('admin_categoryexpense_index', {'page': page + 1})}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
