{% extends 'admin/base.html.twig' %}

{% block title %}Administration des rubliques dépenses{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5" style="background:#578ec9; border-radius:7px; color:white;">   
            <h4>Gestion des rubriques dépenses</h4>
        </div>
        <div class="col-md-5"></div>
        <div class="col">
            <a href="{{ path('admin_categoryexpense_create') }}" class="btn btn-primary">Nouvelle rubrique</a>
        </div>
    </div>    
    <div style="height:15px;"></div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Appellation de la rublique</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for cat in paginator.data %}
            <tr>
                <td>{{cat.id}}</td>
                <td>{{cat.name}}</td>
                <td>{{cat.description}}
                <td>
                    <a href="{{ path('admin_categoryexpense_edit', {'id':cat.id}) }}" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i></a>
                    <a href="{{ path('admin_categoryexpense_delete', {'id':cat.id}) }}" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
        {% set page = paginator.page %} {#Twig va transformer paginator.page en paginator.getPage()#}
        {% set pages = paginator.pages %}
        <ul class="pagination">
            <li class="{% if page == 1 %} disabled {% endif %}">
                <a href="{{ path('admin_categoryexpense_index', {'page': page - 1})}}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
            </li>
            {% for i in 1.. pages %}
            <li class=" {% if page == i %} active {% endif %}">
                <a href="{{ path('admin_categoryexpense_index', {'page':i})}}">{{i}} <span  class="sr-only">(current)</span></a>
            </li>
            {% endfor %}            
            <li class="{% if page == pages %} disabled {% endif %}">
                <a href="{{ path('admin_categoryexpense_index', {'page': page + 1})}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
